<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OpenTRT Local</title>
  </head>
  <body style="display: flex; justify-content: center; height: 100vh">
    <div>
      <h1 style="text-align: center">OpenTRT: Safe PDF redaction</h1>
      <!-- {% if file %}
      <h1>Hello {{ file }}!</h1>
      {% else %}
      <h1>Please select a file...</h1>
      {% endif %} -->

      <div style="display: flex; justify-content: center; align-items: center">
        <form
          style="display: block"
          method="post"
          action="{{ url_for('run_function') }}"
        >
          <input
            style="display: block"
            type="file"
            id="myFile"
            name="filename"
          />
          <div style="display: flex; align-items: center">
            <input
              style="display: block"
              type="checkbox"
              id="options"
              name="options"
            />
            Replacement value
          </div>
          <div style="display: flex; align-items: center">
            <input
              style="display: block"
              type="checkbox"
              id="options"
              name="options"
            />
            Input
          </div>
          <button style="display: block" type="submit">Run Function</button>
        </form>
      </div>

      <div style="display: flex; justify-content: center">
        {% if message %}
        <p>{{ message }}</p>
        {% endif %}
      </div>
    </div>
  </body>
</html>
